.userdash{

    position:relative;
    top:8vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100vw;
    height:100vh
  
   
}
.sectionhor{
    width:25vw;
      
}
.sectionvert{
    height:50%;
      
}