.viewMeetingsPage{
display:flex;
flex-direction: row;

}
.dateMenu{
    display:flex;
flex-direction: column;
    width:10%;
    height:89vh;
    padding-left: 10px;
    overflow-y: auto;    
}
.meetingContents{
display:flex;
margin-left: 10px;
width:75%;
flex-direction: column;

}
